#project-wrapper {
    position: relative;
    overflow: visible;
    top: 15vh;
    margin-bottom: 150px;
}

#first-piece {
    position: relative;
    display: inline-flex;
    height: 100vh;
}

#main-prj-img-container {
    position: absolute;
    display: inline-block;
    width: 440px;
    height: 560px;

    left: calc(40% - 439px/2);

    transform: rotate(-23deg);
    transition: 0.3s;
}

#main-prj-img-container:hover {
    transform: rotate(-10deg);
    transition: 0.3s;
}

#project-name-type {
    position: relative;
    width: fit-content;
    text-align: center;
    top: 20%;
    left: 10%;
}

#prj-descr {
    position: relative;
    width: 33%;
    margin-left: auto;
    margin-right: 146px;

    top: 10%;
}

.prj-imgs {
    width: 1150px;
    height: 560px;
    border: solid black 2px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 150px;
}

#car-bg-img-wrapper {
    position: absolute;
    overflow: hidden;
    width: 1242px;
    height: 699px;
    margin-top: 150px;
    right: 0;
}

#car-img-bg {
    width: 100%;
}